.error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545050;
    z-index: 10;
}

.error__title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
